name: Checkstyle and Tests

on:
  pull_request:
    branches:
      - master
    types: [opened, review_requested]

jobs:
  analyze_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Get modified Java files
        id: get_modified_files
        run: |
          MODIFIED_FILES=$(git diff --name-only origin/master... | grep '\.java$')
          echo "modified_files=$MODIFIED_FILES" >> $GITHUB_ENV

      - name: Filter Task classes and add Test suffix
        id: filter_task_classes
        run: |
          MODIFIED_TASK_CLASSES=$(echo "$MODIFIED_FILES" | grep 'Task' || true)
          TEST_CLASSES=""
          for file in $MODIFIED_TASK_CLASSES; do
            TEST_CLASSES="$TEST_CLASSES ${file%.java}Test.java"
          done
          echo "test_classes=$TEST_CLASSES" >> $GITHUB_ENV

      - name: Run Checkstyle and Tests
        run: |
          if [[ -n "$MODIFIED_FILES" ]]; then
            ./gradlew checkstyleMain -PincludeFiles="$MODIFIED_FILES"
          fi
          if [[ -n "$TEST_CLASSES" ]]; then
            ./gradlew test --tests "$TEST_CLASSES"
          fi
